table {
    width: 80%;
    margin-left: 10%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}



th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4297e1;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: white;
}

tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

