table {
    width: 80%;
    margin-left: 10%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.container h1 {
    text-align: center;
    font-size: 40px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4297e1;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: white;
}

tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

.footer {
    background: linear-gradient(to bottom, #1d224f, #30388D);
    color: white;
    padding: 40px 20px 20px 20px;
    margin-top: 190px;
    border-top: 2px solid #4297e1;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #4297e1;
}

.footer-section p {
    font-size: 14px;
    margin: 5px 0;
    color: #cccccc;
}

.footer-section p:hover {
    color: #4297e1;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #4297e1;
    font-size: 14px;
    color: #cccccc;
}


@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        min-width: 100%;
    }
}