.container {
    max-width: 650px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex;
    justify-content: center;
    gap: 130px;
    padding: 20px 0;
    font-family: koulen;
    background: #30388D;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #4297e1;
}

h1 {
    text-align: center;
    color: #30388D;
    font-family: 'Koulen', sans-serif;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #30388D;
}

.form-group input,
.form-group select {
    width: 97%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #4297e1;
    outline: none;
}

.botoes-formulario {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.botoes-formulario button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-salvar {
    background-color: #4297e1;
    color: white;
}

.btn-salvar:hover {
    background-color: #3572EF;
}

.btn-limpar {
    background-color: #f1f1f1;
    color: #30388D;
}

.btn-limpar:hover {
    background-color: #ddd;
}

.btn-excluir {
    background-color: #ff4d4d;
    color: white;
}

.btn-excluir:hover {
    background-color: #e60000;
}